html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

header{
    background-color: black;
    padding: 20px;
}

.bx bxl-codespan{
    color: red;
    size: 30px;
}

#menu{
    color: white;
    margin-bottom: 0%;
}

#headerH{
    color: white;
    text-align: center;
    font-family: Merriweather;
}

#headerImage{
    display: grid;
    grid-template-areas: 'img1 img2';
}


#headImg{
    width: 750px;
    height: 750px;
    margin-top: 0%;
    grid-area: img1;
}


#headImg2{
    width: 650px;
    height: 650px;
    margin-top: 0%;
    grid-area: img2;
    position: absolute;
    left: 50%;
    top: 30%;
}


.headerLink{
    color: #D99058;
    font-size: 20px;
    margin-left: 90px;
    margin-right: 90px;
    text-decoration: none;
    font-family: Merriweather;
}
  
.headerLink:hover{
    font-size: 25px;
    color: #8C4107;
    font-family: Merriweather;
}

#headerNavigation{
    margin-top: 50px;
    margin-bottom: 15px;
    visibility: hidden;
}

nav{
    text-align: center;
}

h1{
    margin-top: 0;
}

.footerLink{
    color: #D99058;
    text-decoration: none;
    font-size: 20px;
    margin-left: 90px;
    margin-right: 90px;
    font-family: Merriweather;
}

.footerLink:hover{
    font-size: 25px;
    color: #8C4107;
    font-family: Merriweather;
}



#contactMe{
    background-color: black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


section{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 70px;
    grid-template-areas: 
    'aboutMe .'
    '. education'
    'experience experience'
    ;
}


#experience1{
    display: grid;
    grid-template-areas: 
    'exp exi'
    ;
}


#ExP{
    grid-area: exp;
    margin-top: 120px;
}

#ExI{
    grid-area: exi;
    display: grid;
    grid-template-areas: 
    'jp two'
    'three four';
}

#JP{
    grid-area: jp;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#four{
    grid-area: four;
}

p{
    font-size: 20px;
    font-family: Merriweather;
    color: white;
}

#aboutMe{
    grid-area: aboutMe;
}

#education{
    grid-area: education;
}

#experience{
    grid-area: experience;
}

#contactMe{
    grid-area: contactMe;
}
