/**/

.circle {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    position: absolute;
    top: -30px;
    left: -30px;
    transform: translateX(-30px) translateY(-30px);
    pointer-events: none;
    z-index: 9999;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.circle svg {
    width: 100%;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 600ms all cubic-bezier(.23,1,.32,1);
    transition: 600ms all cubic-bezier(.23,1,.32,1);
}

.circle svg path {
    width: 20px;
    height: 20px;
    fill: rgb(187,2,39);
    -webkit-transition: 600ms all cubic-bezier(.23,1,.32,1);
    transition: 600ms all cubic-bezier(.23,1,.32,1);
}











body{
    background-color: black;
}

/*h1 at the top of the page*/
#toph1{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(254,235,195);
    animation: hanimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes hanimation{
    0% {color: rgb(254,235,195);}
    50% {color: rgb(187,2,39);}
    100% {color: rgb(254,235,195);}
}



#menu{
    color: rgb(254,235,195);
}

#return{
    color: rgb(254,235,195);
    display: none;
}


/* each of the a in the header navigation*/
.headerLink{
    text-decoration: none;
    margin-left: 140px;
    font-size: 20px;
    background-color: rgb(187,2,39);
    border-radius: 30px;
    padding: 20px;
    color: black;
    font-family: Merriweather;
}

/*each of the 'a' in the header navigation with hover*/
.headerLink:hover{
    color: rgb(254,235,195);
    font-size: 25px;
    font-family: Merriweather;
}

/*ul element of the header navigation*/
#headerList{
    list-style: none;
    display: flex;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 90px;
}

/*navigation DIV*/
#headerNavigation{
    display: none;
}









/*figure for the header images*/
#headerImages{
    width: 100%;
    display: grid;
    grid-template-areas: 'img1 img2';
    align-items: center;
    justify-content: center;
}

/*first image in the header*/
#img1{
    width: 750px;
    height: 750px;
    margin-top: 0%;
    grid-area: img1;
}

/*second image in the header*/
#img2{
    width: 650px;
    height: 650px;
    margin-top: 0%;
    grid-area: img2;
    position: relative;
    top: 6%;
    right: 15%;
}

/*div for the images in the header*/
#headerImageDiv{
    margin-top: 50px;
}






/*p in the html*/
p{
    color: rgb(254,235,195);
    font-size: 25px;
    text-align: center;
    font-family: Merriweather;
}






/*section in the html*/
section{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'about .'
    '. education'
    'experience experience';
    grid-gap: 150px;
    margin-top: 100px;
}

/*ABOUT div*/
#about{
    grid-area: about;
}

/*EDUCATION div*/
#education{
    grid-area: education;
}








/*EXPERIENCE div*/
#experience{
    grid-area: experience;
}

/*ARTICLE in the EXPERIENCE div*/
#experienceArticle{
    display: grid;
    grid-gap: 90px;
    grid-template-areas: 'exptext expimage';
}

/*FIRST DIV in the EXPERIENCE ARTICLE*/
#experienceText{
    grid-area: exptext;
    padding-top: 70px;
}

/*SECOND DIV in the EXPERIENCE ARTICLE*/
#experienceDiv{
    grid-area: expimage;
}

/*FIGURE in the EXPERIENCE*/
#experienceImage{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    background-color: rgb(254,235,195);
    border-radius: 10%;
    justify-content: center;
    align-items: center;  
    grid-gap: 50px;
}



li{
    margin: 0;
}






/*footer in the html*/
footer{
    margin-top: 150px;
}

/*ul element of the footer*/
#footerList{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

/*app icons*/
#footerList i{
    color: rgb(187,2,39);
}

/*FOOTER A*/
.footerLink{
    text-decoration: none;
    margin-right: 145px;
    margin-left: 145px;
    color: black;
    font-size: 20px;
    background-color: rgb(187,2,39);
    border-radius: 30px;
    padding: 20px;
    font-family: Merriweather;
}

/*FOOTER A*/
.footerLink:hover{
    color: rgb(254,235,195);
    font-size: 25px;
    font-family: Merriweather;
}

/*FOOTER LI*/
.footerLi{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
}

/*FOOTER I*/
.footerLi i{
    text-align: center;
    margin-bottom: 20px;
}
/**/
/**/
/**/
/**/